<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.paperplane.blog.Mapper.WebInfoMapper">
    <update id="updateWebInfo">
        UPDATE web_info
        SET
            blog_title = #{blogTitle},
            blog_author = #{blogAuthor},
            blog_domain = #{blogDomain},
            blog_description = #{blogDescription},
            blog_icp = #{blogIcp},
            user_account = #{userAccount},
            user_password = NULL,
            user_avatar = #{userAvatar},
            user_talk = #{userTalk},
            social_github = #{socialGithub},
            social_email = #{socialEmail},
            social_bilibili = #{socialBilibili},
            social_qq = #{socialQQ},
            social_netease_cloud = #{socialNeteaseCloud},
            openai_token = #{openAiToken},
            netease_cookies = #{neteaseCookies},
            github_token = #{githubToken}
        WHERE id = 1
    </update>

</mapper>
